.resume-body {
  .mdl-grid {
    padding: 0;

    .resume-left-col {
      .left-div {
        text-align: center;

        img {
          height: 200px;
        }
      }

      h4 {
        color: gray;
      }

      hr {
        border-top: 3px solid #833fb2;
        width: 50%;
      }
    }

    .resume-right-col {
      margin-top: 0;
      background-color: #27221f;
      color: white;
      padding: 2em;

      h4 {
        margin-top: 0;
      }

      hr {
        border-top: 3px solid #e22947;
      }

      .skills {
        .progress-bar {
          width: 75%;
        }
      }
    }
  }
}
